/*
1th
2th
3th
*/
.container{
    background: beige;
    display: flex;
    --flex-direction: column;
    --flex-wrap: wrap-reverse;
    height: 500px;
    justify-content: center;
    align-items: center;
    --align-content: center;
    flex-wrap: wrap;
}

.container>div{
    --flex-grow: 1;
    --min-width: 500px;
    --width: 50px; /* max-width와 같다 */
    flex: 0 0 100px;
    width: 200px;
    background: pink;
    border: 1px solid gray;
    height: 100px;
    --flex-grow: 1;
    --flex-shrink: 0;
    --flex-basis: 100px;
    --flex: none; 
}

.container>div:nth-child(3){
    --flex-shrink: 1;
    --flex-grow: 1;
    --order: -1;
    height: 50px;
    --align-self: flex-start;
    --margin-left: auto;
    flex-basis: 0px;
}

.container>div:nth-child(5){
    --flex-grow: 0;
    background: chartreuse;
    --flex-basis: auto;
}

