        /* h1, li {
            color: blue;
        }

        .a {
            color: green;
        }

        #a {
            color: red;
        }

        input[type="text"] {
            background: pink;
        }

        .input {
            background: purple;
        }

        #input {
            background: green;
        }

        input {
            background: yellow;
        } 

        #header>h1~nav {
            color: orange;
            --background: yellowgreen;
        }

        #header>h1+nav+nav {
            color: tomato;
        } */

        /* body{
            font-size: 10px;
        } */

        .d-none{
            display: none;
        }

        .container{
            --height: 50em;
            --width: 50em;
            --background: rgba(255, 0, 0, 0.5);
            --background: #ff000050;
            --background: #00000050;
            width: 960px;
            height: 100%; /* inherit */
            min-height: inherit;
            margin-left: auto;
            margin-right: auto;
        } 

        /* ----------------------------------------------- */

        .header{
            --background: palevioletred;
            height: 71px;
        }
            .main-menu{
                display: inline-block;
                font-family: "맑은 고딕", "고딕", "Arial", sans-serif;
                font-size: 15px;
                font-weight: bold;
                color: #000;
                border: 1px solid red;
            }
                .main-menu>ul{
                    display: flex;
                }
                
                .main-menu>ul>li{
                    padding-left: 24px;
                }
                
                .main-menu>ul a:hover{
                    color: #ff6a00;
                    text-decoration: none;
                }

        /* ----------------------------------------------- */

        .visual{
            --background: palegoldenrod;
            min-height: 171px;
            border-top: 3px solid #8CBA34;
            --background: #313131 url("../image/bg-visual.png") no-repeat center;
        }

        .body{
            --background: palegreen;
            min-height: 300px;
            border-top: 5px solid #8CBA34;
            margin-top: 1pxx;
        }

            .body>.container{
                display: flex;
                background: url("../image/bg-body.png") repeat-y center;
            }

            .aside{
                --background: purple;
                width: 205px;
                background: url("../image/bg-aside-title.png") no-repeat right top;
                padding-top: 45px;
            }

                /* .aside>div{
                    width: 200px;
                    height: 100px;
                    border: 1px solid red;
                    background: url(../image/logo.png) no-repeat;
                    --background-size: contain;
                    background-attachment: fixed;
                    overflow: scroll;
                } */

            .main{
                --background: gray;
                width: 755px;
                box-sizing: border-box;
                padding: 45px 0px 50px 35px;
            }

        .footer{
            --background: skyblue;
            height: 100px;
            background: #313131;
        }