        /* h1, li {
            color: blue;
        }

        .a {
            color: green;
        }

        #a {
            color: red;
        }

        input[type="text"] {
            background: pink;
        }

        .input {
            background: purple;
        }

        #input {
            background: green;
        }

        input {
            background: yellow;
        } 

        #header>h1~nav {
            color: orange;
            --background: yellowgreen;
        }

        #header>h1+nav+nav {
            color: tomato;
        } */

        /* body{
            font-size: 10px;
        } */

        .d-none{
            display: none;
        }

        .container{
            --height: 50em;
            --width: 50em;
            --background: rgba(255, 0, 0, 0.5);
            --background: #ff000050;
            --background: #00000050;
            width: 960px;
            height: 100%; /* inherit */
            min-height: inherit;
            margin-left: auto;
            margin-right: auto;
        } 

        .image-button{
            text-indent: -999px;
            overflow: hidden;
            display: inline-block;
            border: 0;
        }

        .aside-menu{
            font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
            color: #808080;
            font-weight: bold;
            font-size: 11px;
            margin-top: 20px;
        }    

            .aside-menu h1{
                font-family: "맑은 고딕", "고딕", sans-serif;
                font-size: 13px;
                font-weight: bold;
                color: #000;
                padding-left: 26px;
                background: url(../image/icon-recommend.png) no-repeat left center;
            }

            .aside-menu li{
                height: 26px;
                background: url(../image/bg-aside-menu-hsp.png) no-repeat center bottom;
                line-height: 26px;
            }

            .aside-menu li a{
                padding-left: 26px;
            }
            
            .aside-menu li a.current,
            .aside-menu li a:hover{
                background: url(../image/icon-current.png) no-repeat 9px center;
            }
        /*----------------------------------------------------*/

        